* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgba(236, 230, 230, 0.541);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
  background-color: rgb(124, 112, 108);
  border-bottom: 0.2rem rgb(172, 171, 171) ridge;
}

header {
  padding: 0.4rem 2rem;
  font-size: 3rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: rgb(124, 112, 108);
  color: aliceblue;
  border: 0.2rem rgb(172, 171, 171) ridge;
}

img {
  width: 30%;
  height: 40%;
}
